body {
	background-image: url("http://img.wallpaperstock.net:81/snowy-mountain-starry-sky-wallpapers_34676_2560x1600.jpg");
	height: 1000px;
	width: 1000px;
	margin: auto;
}
h1 {
	font-family: TimeBurner;
	text-align: center;
	box-shadow: 4px;
	color: white;
}
p {
	font-family: Avenir;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}
#header{
	height: 70px;
	width: 350px;
	background-color: black;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	text-align: center;
	margin: auto;
}
.content{
	background-color: #B2B2B2;
	width: 700px;
	height: 700px;
	margin: auto;
}