body {
	background-image: url("http://img.wallpaperstock.net:81/snowy-mountain-starry-sky-wallpapers_34676_2560x1600.jpg");
	height: 1000px;
	width: 1000px;
	margin: auto;
}
#header h1 {
	font-family: TimeBurner;
	text-align: center;
	box-shadow: 4px;
	color: white;
}
.content p {
	font-family: Avenir;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	text-align: center;
}
#header{
	height: 70px;
	width: 900px;
	background-color: black;
	text-align: center;
	margin: auto;
	position: fixed;
	margin-top: -90px;
	z-index: 1;
	margin-bottom: 10px;
}
.content{
	width: 700px;
	height: 900px;
	margin: auto;
	margin-top: 80px;
	position: relative;
}
#footer{
	height: 70px;
	width: 900px;
	background-color: black;
	text-align: center;
	margin: auto;
	position: relative;
	clear:both;
}
#footer p{
	color: white;
	font-family: Avenir;
	text-align: center;

}









